{% extends "base.html" %}
{% block content %}
<h1><b>Name of the song titles</b></h1>
<ul>
{% for song in playlist %}
{% if forloop.first %}
<li>
<p> now playing </p>
{{ song.title }}-{{song.plays}}-{{song.album}}
</li>
{% else %}
<li>{{song.title}}-{{song.plays}}-{{song.album}}</li>
{% endif %}
{% if song.plays > 25000000 %} Trending 
{% elif song.plays > 200000 %} Popular
{% else %} Regular
{% endif %}
{% endfor %}
</ul>
<h1>Number of plays of each song</h1>
{% for song in playlist %}
{{song.plays}}
<br>
{% endfor %}

<h1> Name of the albums </h1>
{% for song in playlist %}
{{song.album}}
<br>
{% endfor %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">submit
    </button>

</form>
<table>
<form method="POST">
    {% csrf_token %}
   <tr>your table<td>{{ form1.as_table }}</td></tr>
    <button tyoe=""submit>submit</button>
</form>
</table>

{% endblock %}