{% extends "base.html" %}
{% load static %}
{% block title %}
<h> wellcome to Soptify </h>


<style>
    div {
    margin : auto;
    background-color: green;} 
</style>
{% endblock %}

{% block content %}
<h>Choose your interest one </h>
<a href={% url 'artist1' %}>
<div style="background-color: antiquewhite; color:blue; padding:20px;">   
    <h1> Artists</h1>
</div>
</a>

<a href={% url "playlist1" %}>
    <div style="background-color:aqua; color:blue;padding:20px;">
        <h1> playlist </h1>
    </div>
</a>

<a href={% url "podcast1" %}>
    <div style="background-color:bisque; color:blue;padding:20px;">
    <h1> podcast </h1>
</div>
</a>

{% endblock %}